
h1 {
  font-family:Helvetica;
  font-size:32;
  color:white;
  font-weight:bold;
}

.DasmotosArtsCrafts {
  font-size:100;
  font-weight: bold;
  color:khaki;
  opacity:0.5; background-image:url("file:/Users/Dirc/Desktop/d.cep-PROJECTS/Dasmotos-Arts-Crafts/resources/pattern.jpeg");
  text-align:center;
}

.brushes {
  background-color:mediumspringgreen;
}

.frames {
  background-color:lightcoral;
}

.paint {
  background-color:skyblue;
}

.blue {
  color:blue;
  font-weight:bold;
  font-family:Helvetica;
}
